::-webkit-scrollbar {
	background: transparent;
	width: 6px;
	height: 6px;
}

::-webkit-scrollbar-track { 
	background: transparent;
}

::-webkit-scrollbar-thumb {
	background: rgba(0,0,0,0.3);
    border: 1px solid white;
    border-radius: 3px; 
}

::-webkit-scrollbar-corner {
	background: transparent;
}

html, body {
	margin: 0;
	padding: 0;
}

body {
	width: 600px;
	height: 700px;
	background: #33393E;
	font-family: "Helvetica Neue", Helvetica, Arial;
	font-size: 12pt;
}

a {
	text-decoration: none;
	color: inherit;
}

#toolbar {
	font-family: "FontAwesome";
	color: #BBBBBB;
	font-size: 50px;
	width: 70px;
	height: 700px;
	padding: 0;
	padding-top: 0em;
	margin: 0;
	list-style: none;
}

#toolbar li {
	display: block;
	width: 100%;
	text-align: center;
	margin-bottom: -20px;
	
	cursor: pointer;
}

#content {
	position: absolute;
	left: 70px;
	top: 0px;
	width: 490px;
	height: 660px;
	padding: 20px;
	overflow-y: auto;
	overflow-x: hidden;
	word-wrap: break-word;
	
	background: #EEEEEE;
}

.content-item {
	display: none;
	-webkit-transition: all 0.3s ease;
}

.content-item.visible {
	display: block;
}

#post-editor {
	font-size: 0.8em;
}

#post-editor-date {
	border: none;
	width: 262px;
	margin-right: 20px;
}

#post-save-button {
	width: 100px;
	height: 30px;
	background: #339bca;
	border-radius: 3px;
	color: #eeeeee;
	border: none;
	margin-left: 20px;
}

#post-save-button:hover {
    background: rgb(235, 72, 137);
}

#post-editor-tags {
	margin-top: 10px;
}

#post-editor-tags span {
	margin-right: 20px;
}	

.tag-remove {
	cursor: pointer;
}

#post-editor-new-tag {
	width: 100px;
	padding-left: 0.3em;
}

#post-editor-text {
	margin-top: 20px;
	width: 100%;
	height: 460px;
    font-family: "Ubuntu";
	background: #eeeeee;
	border: none;
	resize: none;
    margin-bottom: 20px;
}

#post-editor-image-area {
    position: relative;
    height: 70px;
    width: 110px;
    border: 4px dashed #AAAAAA;
    border-radius: 15px;
    overflow: hidden;
}

#post-editor-image-area img {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#remove-image-button {
    position: absolute;
    top: 12px;
    right: 12px;
    cursor: pointer;
    text-shadow: #EEEEEE 1px 0px, #EEEEEE 1px 1px, #EEEEEE 0px 1px, #EEEEEE -1px 1px, #EEEEEE -1px 0px, #EEEEEE -1px -1px, #EEEEEE 0px -1px, #EEEEEE 1px -1px;
}

#settings-save {
	width: 100px;
	height: 30px;
	background: #339bca;
	border-radius: 3px;
	color: #eeeeee;
	border: none;
}

#settings-save:hover {
    background: rgb(235, 72, 137);
}

#timeline, #settings {
    font-size: 10pt;
    color: #404040;
    font-family: "Ubuntu";
}

#timeline .timeline-pagination {
    text-align: center;
}

#timeline .next-button, #timeline .prev-button {
    cursor: pointer;
    margin: 10px;
}

#timeline .next-button.disabled, #timeline .prev-button.disabled {
    cursor: auto;
    color: #AAAAAA;
}

#timeline-posts .post-header {
    width: 100%;
    margin-bottom: 10px;
}

#timeline-posts .date {
    padding: 0;
    width: 390px;
}

#timeline-posts .post-edit, #timeline-posts .post-delete {
    text-align: right;
    padding: 0;
    width: 50px;
}

#timeline-posts .post-edit a, #timeline-posts .post-delete a {
    cursor: pointer;
}

#timeline-posts .post-image {
    width: auto;
    max-width: 490px;
    border-radius: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#timeline-posts p {
    margin-top: 0.3em;
    margin-bottom: 0.3em;
}

#timeline-posts article {
    margin-bottom: 30px;
    border-bottom: 1px solid #AAAAAA;
    padding-bottom: 10px;
}

#timeline-posts .tag {
    cursor: pointer;
    font-weight: bold;
    margin: 10px;
}

#timeline-posts .tag:before {
    content: "#";
}


#settings-path-to-dropbox {
    width: 260px;
}