@font-face {
    font-family: "Ubuntu";
    font-style: normal;
    font-weight: bold;
    src: url('../fonts/Ubuntu-B.ttf');
}

@font-face {
    font-family: "Ubuntu";
    font-style: italic;
    font-weight: bold;
    src: url('../fonts/Ubuntu-BI.ttf');
}

@font-face {
    font-family: "Ubuntu";
    font-style: normal;
    font-weight: lighter;
    src: url('../fonts/Ubuntu-L.ttf');
}

@font-face {
    font-family: "Ubuntu";
    font-style: italic;
    font-weight: lighter;
    src: local('Ubuntu'), url('../fonts/Ubuntu-LI.ttf');
}

@font-face {
    font-family: "Ubuntu";
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/Ubuntu-R.ttf');
}

@font-face {
    font-family: "Ubuntu";
    font-style: italic;
    font-weight: normal;
    src: url('../fonts/Ubuntu-RI.ttf');
}
